* { font-size: 9pt; }
body, div { margin: 0; padding: 0; }
.wrap { position: fixed; top: 0; right: 0; bottom: 0; left: 0; overflow: auto; }
.row { position: relative; min-width: 800px; }

/* 상단 메뉴의 스타일 */
.navi { background-color: #003366; height: 50px; }
.navi > ul, .navi > ul > li { list-style: none; padding: 0; margin: 0; }
.navi > ul { height: 48px; background-color: #006699; }
.navi > ul:before, .navi > ul:after { content: ''; display: block; clear: both; }
.navi > ul > li { position: relative; float: left; width: 120px; 
				font-size: 15pt; font-weight: bold; color: #ffffff; 
				text-align: center; border: 2px solid #ffffff;
				border-radius: 10px; line-height: 34px; margin: 5px 0 5px 5px; 
				cursor: pointer; }
.navi > ul > li:hover { background-color: #009999; }

/* 중앙 메인 영역 */
.content { background-color: #ececec; height: 450px; }
.content:before, .content:after { content: ''; display: block; clear: both; }
.content > div { position: relative; float: left; width: 150px; }
.content > .side { background-color: #ffffcc;  height: 450px; overflow: auto; }
.content > .main { width: 630px; padding: 5px;}
.content > .main > img { position: relative; width: 100%; height: 450px;}

/* 중앙 좌측 side 메뉴 스타일 */
.side > ul, .side > ul > li { list-style: none; padding: 0; margin: 0; }
.side > ul { padding: 5px; }
.side > ul > li { border: 2px solid #000000; height: 70px;
				border-radius: 5px; margin-bottom: 5px;
				cursor: pointer; }
.side > ul > li:last-child { margin-bottom: none; }
.side > ul > li > img { position: relative; width: 100%; height: 100% }

/* 하단 footer 영역 */
.footer { position: relative; height: 100px; background-color: #ffcc66; }