body
{
	padding: 0;
	margin: 0;
	position: fixed;
	left: 20px;
	top: 20px;
	width: 500px;
	height: 200px;
}

body > div
{
	width: 500px;
	height: 50px;
	padding: 0;
	margin: 0;
	text-align: center;
}

#image
{
	height: 470px;
}


.S1
{
	width: 150px;
	text-align: center;
}